<div class="container-fluid">

  <div class="form-group">
    <label class="col-md-3 control-label mylabel" style=" padding-left:8px;">Hero Id</label>
    <div class="col-md-8 form-control alignClass" style="text-align:left;">{{datum.id}}</div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label mylabel" style="padding-top:10px; padding-left:8px;">Hero Name</label>
    <div class="col-md-8 form-control alignClass" style="text-align:left;">{{datum.name}}</div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label mylabel" style="padding-top:10px; padding-left:8px;">Hero Power</label>
    <div class="col-md-8 form-control alignClass" style="text-align:left;">{{datum.power}}</div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label mylabel" style="padding-top:10px; padding-left:8px;">Hero Points</label>
    <div class="col-md-8 form-control alignClass" style="text-align:left; margin-bottom: 12px;">{{datum.points}}</div>
  </div>


</div>